<div class="container-general__lista-logs">

    <h1>Logs Internos</h1>

    <div class="container-spinner" *ngIf="spinner === 0">
        <mat-spinner></mat-spinner>
    </div>

    <div class="container-error" *ngIf="spinner === -1">
        <span class="material-symbols-outlined">warning</span>
        <span class="texto">Ha habido un error al cargar los datos.</span>
        <button mat-button (click)="cargarListaLogs()">Reintentar</button>
    </div>

    <div *ngIf="spinner === 1">

        <cdk-virtual-scroll-viewport itemSize="25" class="container-lista-logs" #viewport>

            <ng-container *cdkVirtualFor="let log of listaLogs; let index = index;">

                <div class="log">
                    <h3 class="contador-dias"
                        *ngIf="!listaLogs[index-1] || (listaLogs[index-1] && !moment(listaLogs[index-1]?.fecha)?.isSame(moment(log?.fecha),'day'))">
                        {{moment(log.fecha
                        ).format('LL')}}</h3>

                    <div>
                        <span>{{log.fecha | date: 'dd/MM/yyyy HH:mm:ss'}} </span> <span class="texto">El usuario
                            {{log.usuario}} {{log.accion}}</span>
                        <ng-container *ngIf="log.detalles">
                            <button mat-button [matTooltip]="'Ver más detalles'" class="boton-detalles"
                                matTooltipPosition="right"
                                (click)="abrirPopupDetalles(log.detalles)"><mat-icon>code</mat-icon></button>
                        </ng-container>
                    </div>
                </div>

            </ng-container>

        </cdk-virtual-scroll-viewport>

    </div>

</div>

<ng-template #dialogDetalleLog>

    <div>
        <h1>Detalle del log</h1>

        <div>
            <span>{{detalleLog}}</span>
        </div>

        <div class="container-botones-accion">
            <button mat-button [cdkCopyToClipboard]="detalleLog"
                [matTooltip]="'Copiar al portapapeles'"><mat-icon>content_copy</mat-icon></button>
            <button mat-button (click)="_dialog.closeAll()">Salir</button>
        </div>
    </div>

</ng-template>