@import './../../../../../styles/variables';

.container-general__lista-logs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    h1 {
        text-align: center;
        width: 100%;
        color: $acento;
    }

    .container-spinner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 50px;
    }

    .container-lista-logs {
        height: 80vh;
        border: 1px solid $fondo;
        border-radius: 5px;
        overflow-x: hidden;

        .cdk-virtual-scroll-content-wrapper {
            padding: 15px;
        }

        .contador-dias {
            margin-top: 15px;
        }

        .texto {
            margin: 0 15px;
        }

        .boton-detalles {
            height: 15px;
            padding: 0 !important;
            min-width: 30px;

            .mat-mdc-button-touch-target {
                height: 15px;
            }
        }
    }
}