@import './../../../../styles/variables';

.container-general__login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $fondo;
    color: $texto_alt;
    height: 100%;
    width: 100%;

    .container-formulario {
        align-self: center;

        img {
            width: 600px;
            height: 273px;
        }

        form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;

            .icono-ver-pass {
                color: $texto_alt !important;
            }

            .mat-mdc-form-field {
                width: 500px;
                margin: 0 auto;

                .mat-icon {
                    color: $fondo;
                }
            }

            .boton-inicio-sesion {
                width: 500px;
                background-color: $acento;
                color: $texto !important;
                margin: 15px auto 0 auto;
                border: none !important;

                * {
                    color: $texto !important;
                }

                &:hover {
                    color: $texto !important;

                    * {
                        color: $texto !important;
                    }
                }
            }
        }
    }

    .datos-proyecto {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
}