<div>

</div>


<!-- 

 <fieldset class="seccion-centros">
                    <legend>Centros</legend>
                    <div class="lista-centros">
                        <ng-container *ngFor="let centro of listaCentros;let index = index">
                            <div class="centro">
                                <div class="izq"><span>{{index+1}}</span></div>
                                <div class="der">
                                    <span>{{centro.nombre}}</span>
                                    <span>{{centro.domicilio}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button mat-button class="boton-gestionar-centros"><mat-icon>settings</mat-icon>Gestionar
                        centros</button>
                </fieldset>

-->