<div class="container-general__ficha-cliente">

    <div *ngIf="cargaCliente === 0" class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="cargaCliente === -1" class="container-error">
        <span class="material-symbols-outlined">warning</span>
        <span class="texto">Ha habido un error al cargar los datos.</span>
        <button mat-button (click)="getCliente()">Reintentar</button>
    </div>

    <div *ngIf="cargaCliente === 1">
        <div class="container-titulo">
            <div class="fill"></div>
            <div class="encapsulador-titulo">
                <h1>{{nuevoCliente ? 'Creación cliente' : cliente.nombre}}</h1>
            </div>
            <div class="container-indicador-creacion">
                <div [matTooltip]="'Debes de rellenar los campos obligatorios (*)'">
                    <span *ngIf="nuevoCliente">Cliente no guardado <span
                            class="material-symbols-outlined">help</span></span>
                </div>
            </div>
        </div>

        <div class="toolbar">
            <button mat-button [disabled]="nuevoCliente" (click)="bajaCliente()">Dar de baja</button>
            <button mat-button (click)="empezarNuevoCliente()">Crear nuevo cliente</button>
        </div>

        <form [formGroup]="formCliente" *ngIf="formCliente">

            <div class="container-izq">

                <div class="fila">
                    <fieldset class="encapsulacion-datos-principales"
                        [ngClass]="((formCliente.get('id_cliente')?.status !== 'DISABLED' && formCliente.get('id_cliente')?.status !== 'VALID')  || !formCliente.get('nombre')?.valid || !formCliente.get('cif')?.valid) ? 'faltan-campos' : ''">
                        <legend>Datos principales</legend>

                        <mat-form-field class="campo-codigo">
                            <mat-label>Código</mat-label>
                            <input matInput formControlName="id_cliente" (input)="editarCampo('id_cliente')">
                        </mat-form-field>

                        <mat-form-field class="campo-nombre">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" (input)="editarCampo('nombre')">
                            <mat-error *ngIf="formCliente?.get('nombre')?.errors?.['required']">El nombre es
                                obligatorio</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nombre Comercial</mat-label>
                            <input matInput formControlName="nombre_comercial"
                                (input)="editarCampo('nombre_comercial')">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Fecha alta</mat-label>
                            <input matInput formControlName="fecha_alta">
                        </mat-form-field>

                        <div class="container-switch">
                            <mat-slide-toggle formControlName="activo"
                                (change)="editarCampo('activo')">Activo</mat-slide-toggle>
                        </div>

                        <mat-form-field class="campo-cif">
                            <mat-label>DNI / CIF</mat-label>
                            <input matInput formControlName="cif" (input)="editarCampo('cif')">
                            <mat-error *ngIf="formCliente?.get('cif')?.errors?.['required']">El DNI / CIF es
                                obligatorio</mat-error>
                            <mat-error *ngIf="formCliente?.get('cif')?.errors?.['pattern']">El DNI / CIF no es
                                válido.</mat-error>
                        </mat-form-field>
                    </fieldset>
                </div>

                <div class="fila">
                    <fieldset class="seccion-direccion">
                        <legend>Dirección</legend>

                        <div class="fila-direccion">

                            <mat-form-field>
                                <mat-label>Domicilio</mat-label>
                                <input matInput formControlName="domicilio" (input)="editarCampo('domicilio')">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Domicilio comercial</mat-label>
                                <input matInput formControlName="domicilio_comercial"
                                    (input)="editarCampo('domicilio_comercial')">
                            </mat-form-field>

                        </div>

                        <div class="fila-direccion">

                            <mat-form-field class="campo-codigo-postal">
                                <mat-label>Código Postal</mat-label>
                                <input matInput formControlName="codigo_postal" (input)="editarCampo('codigo_postal')">
                                <mat-error *ngIf="formCliente?.get('codigo_postal')?.errors?.['pattern']">El código
                                    postal no es válido.</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Localidad</mat-label>
                                <input matInput formControlName="localidad" (input)="editarCampo('localidad')">
                                <mat-error *ngIf="formCliente?.get('localidad')?.errors?.['required']">La localidad es
                                    obligatoria</mat-error>
                            </mat-form-field>

                            <div class="container-selector">
                                <mat-form-field class="campo-vendedor">
                                    <mat-label>Vendedor</mat-label>
                                    <mat-select formControlName="id_vendedor"
                                        (selectionChange)="editarCampo('id_vendedor')">
                                        <mat-option>
                                            <ngx-mat-select-search
                                                [formControl]="formDesplegableVendedor! | formControl"></ngx-mat-select-search>
                                        </mat-option>
                                        <ng-container *ngFor="let vendedor of listaFiltradaDesplegableVendedor">
                                            <mat-option [value]="vendedor.codigo">{{vendedor.nombre}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <mat-spinner [diameter]="35" *ngIf="!listaDesplegableVendedor"></mat-spinner>
                            </div>

                            <mat-form-field>
                                <mat-label>IBAN</mat-label>
                                <input matInput formControlName="iban" (input)="editarCampo('iban')">
                            </mat-form-field>

                        </div>

                    </fieldset>

                    <div class="fila">
                        <fieldset class="seccion-contacto">
                            <legend>Contacto</legend>

                            <mat-form-field>
                                <mat-label>Persona de Contacto</mat-label>
                                <input matInput formControlName="contacto" (input)="editarCampo('contacto')">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Teléfono 1</mat-label>
                                <input matInput formControlName="telefono_1" (input)="editarCampo('telefono_1')">
                                <mat-error *ngIf="formCliente?.get('telefono_1')?.errors?.['pattern']">El teléfono no es
                                    válido.</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Teléfono 2</mat-label>
                                <input matInput formControlName="telefono_2" (input)="editarCampo('telefono_2')">
                                <mat-error *ngIf="formCliente?.get('telefono_2')?.errors?.['pattern']">El teléfono no es
                                    válido.</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" (input)="editarCampo('email')">
                            </mat-form-field>

                        </fieldset>
                    </div>

                    <fieldset class="seccion-tarifas">
                        <legend>Tarifas</legend>

                        <div class="container-switch">
                            <mat-slide-toggle formControlName="recargo_equivalencia"
                                (change)="editarCampo('recargo_equivalencia')">Recargo Equivalencia</mat-slide-toggle>
                        </div>

                        <div class="container-switch">
                            <mat-slide-toggle formControlName="exento_iva" (change)="editarCampo('exento_iva')">Exento
                                IVA</mat-slide-toggle>
                        </div>

                        <mat-form-field class="campo-descuento">
                            <mat-label>Descuento</mat-label>
                            <input matInput formControlName="descuento" (input)="editarCampo('descuento')">
                            <span matSuffix>%</span>
                            <mat-error *ngIf="formCliente?.get('descuento')?.errors?.['pattern']">El descuento debe
                                ser numérico.</mat-error>
                        </mat-form-field>
                    </fieldset>
                </div>

            </div>

            <div class="container-der">
                <fieldset class="seccion-centros">
                    <legend>Centros</legend>
                    <div class="lista-centros">
                        <ng-container *ngFor="let centro of listaCentros;let index = index">
                            <div class="centro">
                                <div class="izq"><span>{{index+1}}</span></div>
                                <div class="der">
                                    <span>{{centro.nombre}}</span>
                                    <span>{{centro.domicilio}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button mat-button class="boton-gestionar-centros"
                        (click)="abrirDialogGestionarCentros()"><mat-icon>settings</mat-icon>Gestionar
                        centros</button>
                </fieldset>
            </div>

        </form>
    </div>
</div>

<ng-template #dialogGestionarCentros>
    <div class="container-general__dialog-gestionar-centros">
        <h1>Gestionar centros</h1>

        <div class="toolbar">
            <button mat-button (click)="anadirCentro()">Añadir centro</button>
        </div>

        <div class="lista-centros">
            <ng-container *ngFor="let centro of listaCentrosDialog;let index = index">
                <div class="centro">

                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput (input)="editarCampoCentro(centro,'nombre')" [(ngModel)]="centro.nombre"
                            #nombreCtrl="ngModel" required>
                        <mat-error *ngIf="nombreCtrl?.errors?.['required']">El nombre es
                            obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Domicilio</mat-label>
                        <input matInput (input)="editarCampoCentro(centro,'domicilio')" [(ngModel)]="centro.domicilio">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Localidad</mat-label>
                        <input matInput (input)="editarCampoCentro(centro,'localidad')" [(ngModel)]="centro.localidad">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Código Postal</mat-label>
                        <input matInput (input)="editarCampoCentro(centro,'codigo_postal')"
                            [(ngModel)]="centro.codigo_postal" #codigoPostalCtrl="ngModel"
                            pattern="^(0[1-9]|[1-4][0-9]|5[0-2])\d{3}$">
                        <mat-error *ngIf="codigoPostalCtrl?.hasError('pattern')">El código
                            postal no es válido.</mat-error>
                    </mat-form-field>

                    <button mat-icon-button (click)="eliminarCentro(centro)"
                        class="boton-eliminar"><mat-icon>clear</mat-icon></button>
                </div>
            </ng-container>

        </div>

        <button mat-button class="boton-salir" (click)="dialogRef.close()">Salir</button>
    </div>
</ng-template>