@import './../../../../../styles/variables';

.container-general__articulos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .toolbar {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-form-field {
            position: relative;
            z-index: 1;
        }

        mat-slide-toggle {
            position: absolute;
            left: 50%;
            transform: translateX(calc(100% + 1rem));
            white-space: nowrap;
            margin-left: 60px;
        }
    }
}