<div class="container-general__lista-articulos">

    <div class="toolbar">
        <button mat-button [matTooltip]="'Opciones'"
            [matMenuTriggerFor]="menuOpciones"><mat-icon>settings</mat-icon></button>
    </div>

    <app-component-loading-manager [progress]="cargaTablaArticulos" [name]="'tablaArticulos'"
        [template]="containerTablaArticulos" (emitter)="eventosLoadingManager($event)"
        [size]="{height: '600px',width:'100%'}">
        <ng-template #containerTablaArticulos>
            <app-tabla-tabulator [data]="datosTabla" (emitter)="recibirEventosTabulator($event)"
                #componenteTabla></app-tabla-tabulator>
        </ng-template>
    </app-component-loading-manager>

    <div class="container-input-excel">
        <input type="file" (change)="onFileChange($event)" accept=".xls, .xlsx" #inputArchivo />
    </div>
</div>

<mat-menu #menuOpciones="matMenu">

    <div class="menu-opciones__lista-articulos">
        <button mat-menu-item (click)="abrirDialogAdjuntarArchivo()">Importar Excel</button>
    </div>

</mat-menu>