<div class="container-general__lista-articulos">

    <div class="toolbar">
        <div class="seccion">
            <button mat-button class="boton-crear-articulo" (click)="redirigirCrearArticulo()"><mat-icon>add</mat-icon>
                Crear artículo</button>
        </div>

        <div class="seccion">
            <button mat-button [matTooltip]="'Opciones'"
                [matMenuTriggerFor]="menuOpciones"><mat-icon>settings</mat-icon></button>
        </div>
    </div>

    <app-component-loading-manager [progress]="cargaTablaArticulos" [name]="'tablaArticulos'"
        [template]="containerTablaArticulos" (emitter)="eventosLoadingManager($event)"
        [size]="{height: '600px',width:'100%'}">
        <ng-template #containerTablaArticulos>
            <app-tabla-tabulator [data]="datosTabla" (emitter)="recibirEventosTabulator($event)" *ngIf="datosTabla"
                #componenteTabla></app-tabla-tabulator>
        </ng-template>
    </app-component-loading-manager>

    <div class="container-input-excel">
        <input type="file" (change)="onFileChange($event)" accept=".xls, .xlsx" #inputArchivo />
    </div>
</div>

<mat-menu #menuOpciones="matMenu">

    <div class="menu-opciones__lista-articulos">
        <button mat-menu-item (click)="abrirDialogAdjuntarArchivo()">Importar Excel</button>
    </div>

</mat-menu>

<ng-template #dialogErrorExcel>

    <div class="container-general__dialog-error-excel">

        <h1>Error en la importación</h1>

        <div class="detalles-errores">
            <span class="texto">{{errorExcel.message}}</span>

            <span class="texto">Encontrado en:</span>

            <cdk-virtual-scroll-viewport appendOnly itemSize="10" class="container-lista-registro">

                <ng-container *cdkVirtualFor="let registro of errorExcel.data">

                    <span class="texto">
                        <span><strong>Nombre: </strong> {{registro.nombre}}</span>
                        <span><strong>{{errorExcel.field}}: </strong> {{registro[errorExcel.field]}}</span>
                    </span>

                </ng-container>

            </cdk-virtual-scroll-viewport>

        </div>

        <div class="container-botones-accion">
            <button mat-button (click)="_dialog.closeAll()">Salir</button>
        </div>

    </div>

</ng-template>