@import './variables';

html,
body {
    height: 100% !important;
    min-height: 100% !important;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

.mat-mdc-form-field {

    .mat-mdc-text-field-wrapper {
        background-color: $texto_alt !important;
        border: 1px solid $texto_alt;
    }

    .mat-mdc-form-field-required-marker {
        color: $texto;
    }

    mat-label {
        color: $texto;
    }

    .mdc-line-ripple::after {
        border-bottom-color: $acento !important;
    }
}

.mat-mdc-menu-content {

    .mat-mdc-menu-item-text {
        margin: auto;
    }
}

.container-error {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .material-symbols-outlined {
        color: $error;
        width: 75px;
        height: 75px;
        font-size: 75px;
        margin: 0 auto 25px auto;
    }

    .texto {
        margin: 0 auto;
    }

    button {
        width: fit-content;
        margin: 25px auto 0 auto;
    }
}

.lista-autocompletar-buscador {
    max-height: 80vh !important;
    padding-top: 0 !important;
    transform: translateX(-40%) !important;

    .mat-mdc-option,
    .mdc-list-item__primary-text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .campo-id {
        display: block;
        width: 60px;
        margin-right: 10px;
        text-align: end;
    }

    &.autocompletar-articulos {

        .campo-nombre {
            width: 450px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 10px;
        }

        .campo-stock {
            width: 60px;
            text-align: end;
            margin-right: 10px;
        }

        .campo-precio-sin-iva,
        .campo-precio-con-iva {
            width: 120px;
            text-align: end;
            margin-right: 10px;
        }

        .campo-precio-con-iva {
            margin-right: 0 !important;
        }
    }

    &.autocompletar-proveedores {

        .campo-nombre,
        .campo-direccion {
            width: 450px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 10px;
        }
    }

    &.autocompletar-clientes {
        transform: translateX(40%) !important;

        .campo-nombre,
        .campo-nombre_comercial,
        .campo-domicilio {
            width: 450px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 10px;
        }
    }

    .cabecera-autocompletar {
        pointer-events: none;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 99999;
    }
}