@import './../../../../../styles/variables';

.container-general__clientes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .toolbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}