<div class="container-general__clientes">

    <div class="toolbar">
        <app-buscador #buscador (input)="cargarBuscador($event)" [listaResultados]="listaResultadosBuscador"
            [listaColumnas]="listaColumnasBuscador" [clasePadre]="'clientes'" [elemento]="'cliente'"
            (seleccionado)="abrirFicha($event.id_cliente)"></app-buscador>
    </div>

    <mat-tab-group [(selectedIndex)]="indexTabs" (selectedIndexChange)="cambiarTab($event)">

        <mat-tab label="Ficha">
            <app-ficha-cliente [id]="idCliente" [indexTabs]="indexTabs"
                (cambiarTab)="cambiarTab($event)"></app-ficha-cliente>
        </mat-tab>

        <mat-tab label="Tabla">
            <app-lista-clientes (abrirFicha)="abrirFicha($event)"></app-lista-clientes>
        </mat-tab>

    </mat-tab-group>
</div>