<div class="container-general__clientes">

    <div class="toolbar">
        <mat-form-field>
            <mat-label>Buscar cliente</mat-label>
            <input type="text" matInput [formControl]="buscadorCliente" [matAutocomplete]="auto"
                (keydown.enter)="onEnter($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="abrirFicha($event.option.value)"
                (optionActivated)="onOptionActivated($event)"
                class="lista-autocompletar-buscador autocompletar-clientes">
                <div class="cabecera-autocompletar mat-mdc-option"
                    *ngIf="opcionesBuscadorClientesFiltrado?.length! > 0">
                    <span class="campo-id">Código</span>
                    <span class="campo-nombre">Nombre Fiscal</span>
                    <span class="campo-nombre_comercial">Nombre Comercial</span>
                    <span class="campo-domicilio">Domicilio</span>
                </div>
                <ng-container *ngFor="let cliente of opcionesBuscadorClientesFiltrado;let index = index">
                    <mat-option [value]="cliente.id_cliente" [ngClass]="index % 2 === 0 ? 'par' : 'impar'">
                        <span class="campo-id">{{cliente.id_cliente}}</span>
                        <span class="campo-nombre"> {{cliente.nombre}} </span>
                        <span class="campo-nombre_comercial"> {{cliente.nombre_comercial}} </span>
                        <span class="campo-domicilio"> {{cliente.domicilio}} </span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="mostrarInactivos">Mostrar inactivos</mat-slide-toggle>
    </div>

    <mat-tab-group [(selectedIndex)]="indexTabs" (selectedIndexChange)="cambiarTab($event)">

        <mat-tab label="Ficha">
            <app-ficha-cliente [id]="idCliente" [indexTabs]="indexTabs"
                (cambiarTab)="cambiarTab($event)"></app-ficha-cliente>
        </mat-tab>

        <mat-tab label="Tabla">
            <app-lista-clientes (abrirFicha)="abrirFicha($event)"></app-lista-clientes>
        </mat-tab>

    </mat-tab-group>
</div>