@import './../../../../styles/variables';

.container__menu-principal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $fondo;
    color: $texto_alt;
    height: 100%;
    width: 100%;

    .banner-superior {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .container-logo {
            img {
                width: 400px;
                height: 182px;
            }
        }

        .container-usuario {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            height: fit-content;
            align-self: center;
            margin-right: 25px;
            cursor: pointer;

            .mat-icon {
                height: 32px;
                width: 32px;
                font-size: 32px;
                margin-right: 15px;
            }

            .nombre {
                height: fit-content;
                align-self: center;
            }
        }
    }

    .lista-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: -182px;

        .opcion {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            margin: 0 50px;
            border: 3px solid $texto_alt;
            border-radius: 5px;
            padding: 25px;
            cursor: pointer;

            .mat-icon {
                font-size: 150px;
                height: 150px;
                width: 150px;
                margin: 0 25px;
            }

            h2 {
                width: 100%;
                text-align: center;
                margin-top: 25px;
            }

            &:hover {
                border-color: $acento;

                * {
                    color: $acento;
                }
            }
        }
    }
}