@import './../../../../../styles/variables';

.container-general__lista-proveedores {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    h1 {
        width: 100%;
        text-align: center;
        color: $acento;
    }
}