@import './../../../../../../styles/variables';

.container-general__lista-articulos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    h1 {
        width: 100%;
        text-align: center;
        color: $acento;
    }

    .toolbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        .boton-crear-articulo {
            mat-icon {
                margin-right: 5px !important;
            }
        }
    }
}