@import './../../../../../styles/variables';

.container-general__proveedores {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}