<div class="container-general__proveedores">

    <div class="toolbar">
        <app-buscador #buscador (input)="cargarBuscador($event)" [listaResultados]="listaResultadosBuscador"
            [listaColumnas]="listaColumnasBuscador" [clasePadre]="'proveedores'" [elemento]="'proveedor'"
            (seleccionado)="abrirFicha($event.id_proveedor)"></app-buscador>
    </div>

    <mat-tab-group [(selectedIndex)]="indexTabs" (selectedIndexChange)="cambiarTab($event)">

        <mat-tab label="Ficha">
            <app-ficha-proveedor [id]="idProveedor" [indexTabs]="indexTabs"
                (cambiarTab)="cambiarTab($event)"></app-ficha-proveedor>
        </mat-tab>

        <mat-tab label="Tabla">
            <app-lista-proveedores (abrirFicha)="abrirFicha($event)"></app-lista-proveedores>
        </mat-tab>

    </mat-tab-group>
</div>