@import './../../../../../../styles/variables';

.container-general__ficha-articulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .container-spinner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .container-titulo {
        display: flex;
        margin-bottom: 25px;

        .fill {
            flex: 1;
            display: flex;
            margin-right: auto;
        }

        .encapsulador-titulo {
            flex: 1;
            display: flex;
            height: fit-content;

            h1 {
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }

        .container-indicador-creacion {
            flex: 1;
            display: flex;
            height: fit-content;
            margin: auto 0;
            justify-content: center;

            .material-symbols-outlined {
                vertical-align: middle;
            }

            * {
                color: $error;
            }
        }
    }

    .toolbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-bottom: 50px;

        button {
            margin: auto 15px auto 0;

            &:disabled {
                border: $tabulator_fila_par !important;

                * {
                    color: $tabulator_fila_par !important;
                }
            }
        }
    }

    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .mat-mdc-form-field {
            margin-right: 25px;
            height: fit-content;
        }

        .container-selector {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            .mat-mdc-progress-spinner {
                margin: auto 0 auto 10px;
            }
        }

        fieldset {
            border-color: $acento;
            border-radius: 5px;
            height: 100px;

            &.faltan-campos {
                border-color: $error;
            }
        }

        legend {
            color: $texto;
            padding: 0 15px;
        }

        .container-izq {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;

            .fila {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                margin-bottom: 25px;

                .encapsulacion-datos-principales {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                }

                &:nth-child(1) {
                    height: 80px;
                    margin-bottom: 30px;
                }

                .campo-codigo {
                    width: 80px;
                }

                .campo-nombre {
                    width: 450px;
                }

                .campo-precio-coste,
                .campo-precio-venta {
                    width: 125px;
                }

                .campo-margen {
                    width: 100px;
                }

                .fieldset-tarifas {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    margin-right: 25px;
                    height: fit-content;
                }

                .container-switch {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    height: fit-content;
                    width: fit-content;
                    margin-right: 100px;

                    .mdc-switch:first-child {
                        margin: 10px 0;
                    }
                }

                .container-agrupaciones {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    margin-top: 25px;

                    .campo-proveedor {
                        width: 260px;
                    }

                    .campo-familia {
                        width: 260px;
                    }

                    .campo-subfamilia {
                        width: 200px;
                    }
                }

                .fieldset-comisiones {
                    height: auto !important;

                    .encapsulador-container-comision {
                        height: 90px;
                    }

                    .container-comision {
                        color: $texto;

                        .encapsulador-boton-dialog-comisiones {
                            width: fit-content;
                        }

                        h3 {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;

                            .texto {
                                align-self: center;
                            }

                            button {
                                align-self: center;

                                &:hover {
                                    color: $acento;
                                }
                            }
                        }

                        .container-spinner {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            margin: 15px auto;
                        }
                    }
                }
            }
        }

        .container-der {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;

            .container-ean {
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                height: auto !important;
            }

            .encapsulador-ean13 {
                height: 80px;
            }
        }
    }
}

.container-general__dialog-editar-comision {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .container-spinner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 50px auto;
    }

    .toolbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 15px;
        height: 70px;

        .mat-mdc-form-field {
            width: 190px;
            height: fit-content;

            mat-label {
                color: $texto;
            }
        }
    }

    .lista-vendedores {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        max-height: 450px;
        overflow-y: auto;
        padding-right: 20px;

        .vendedor {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .nombre {
                height: fit-content;
                margin: auto 25px auto 0;
            }

            .mat-mdc-form-field {
                width: 55px;
            }
        }
    }

    .botones-accion {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 15px 0;
    }
}