<div class="container-general__editar-articulo">

    <div *ngIf="spinner" class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!spinner">
        <h1>{{articulo.nombre}}</h1>

        <div class="toolbar">
            <button mat-button>Dar de baja</button>
        </div>

        <mat-tab-group animationDuration="0ms">

            <mat-tab label="Ficha">

                <form [formGroup]="formArticulo">

                    <mat-form-field class="campo-codigo">
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="codigo">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Fecha alta</mat-label>
                        <input matInput formControlName="fecha_alta">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>

                    <fieldset>
                        <legend>Códigos de barras</legend>

                        <mat-form-field>
                            <mat-label>1 - EAN 13</mat-label>
                            <input matInput formControlName="ean13_1">
                        </mat-form-field>

                        <ng-container *ngIf="formArticulo.get('ean13_1')!.value">
                            <mat-form-field>
                                <mat-label>2 - EAN 13</mat-label>
                                <input matInput formControlName="ean13_2">
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="formArticulo.get('ean13_2')!.value">
                            <mat-form-field>
                                <mat-label>3 - EAN 13</mat-label>
                                <input matInput formControlName="ean13_3">
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="formArticulo.get('ean13_3')!.value">
                            <mat-form-field>
                                <mat-label>4 - EAN 13</mat-label>
                                <input matInput formControlName="ean13_4">
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="formArticulo.get('ean13_4')!.value">
                            <mat-form-field>
                                <mat-label>5 - EAN 13</mat-label>
                                <input matInput formControlName="ean13_5">
                            </mat-form-field>
                        </ng-container>

                    </fieldset>

                    <mat-form-field>
                        <mat-label>Stock</mat-label>
                        <input matInput formControlName="stock">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Precio coste</mat-label>
                        <input matInput formControlName="precio_coste">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Precio venta</mat-label>
                        <input matInput formControlName="precio_venta">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo">
                            <mat-option [value]="'Material'">Material</mat-option>
                            <mat-option [value]="'Servicio'">Servicio</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Comisión por defecto</mat-label>
                        <input matInput formControlName="comision_default">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Margen</mat-label>
                        <input matInput formControlName="margen">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Proveedor</mat-label>
                        <mat-select formControlName="idProveedor">

                            <ng-container *ngFor="let proveedor of listasDesplegables.proveedor">
                                <mat-option [value]="proveedor.codigo">{{proveedor.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
                    <mat-slide-toggle formControlName="tiene_lote">Tiene lotes</mat-slide-toggle>




                    <!-- 

//TODO:

//estos desplegables pedir en query desde componente padre
//enseñar spinners en carga desplegables

proveedor - desplegable
familia - desplegable
subfamilia - desplegable
iva - desplegable
marca - desplegable

-->

                </form>

            </mat-tab>

            <mat-tab label="Historial">

            </mat-tab>

        </mat-tab-group>
    </div>
</div>