<div class="container-general__editar-articulo">

    <div *ngIf="spinner" class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!spinner">
        <h1>{{articulo.nombre}}</h1>

        <div class="toolbar">
            <button mat-button>Dar de baja</button>
            <button mat-button>Clonar artículo</button>
            <button mat-button>Crear nuevo artículo</button>
            <button mat-button>Añadir etiqueta</button>
        </div>

        <mat-tab-group>

            <mat-tab label="Ficha">

                <form [formGroup]="formArticulo" *ngIf="formArticulo">

                    <div class="container-izq">

                        <div class="fila">
                            <mat-form-field class="campo-codigo">
                                <mat-label>Código</mat-label>
                                <input matInput formControlName="codigo">
                            </mat-form-field>

                            <mat-form-field class="campo-nombre">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" (input)="editarCampo('nombre')">
                                <mat-error *ngIf="formArticulo?.get('nombre')?.errors?.['required']">El nombre es
                                    obligatorio</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Fecha alta</mat-label>
                                <input matInput formControlName="fecha_alta">
                            </mat-form-field>

                            <div class="container-switch">
                                <mat-slide-toggle formControlName="activo"
                                    (change)="editarCampo('activo')">Activo</mat-slide-toggle>
                                <div
                                    [matTooltip]="this.formArticulo.get('tiene_lote')!.disabled ? (formArticulo.get('tipo')!.value === 'Servicio'  ? 'El artículo está marcado como tipo Servicio':'El stock debe de ser 0 para poder modificar el valor') : '' ">
                                    <mat-slide-toggle formControlName="tiene_lote"
                                        (change)="editarCampo('tiene_lote')">Tiene
                                        lotes</mat-slide-toggle>
                                </div>
                            </div>

                            <mat-form-field>
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="tipo" (selectionChange)="editarCampo('tipo')">
                                    <mat-option [value]="'Material'">Material</mat-option>
                                    <mat-option [value]="'Servicio'">Servicio</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div
                                [matTooltip]="this.formArticulo.get('stock')!.disabled ? 'Al ser de tipo Servicio, no se considera el stock' : ''">
                                <mat-form-field>
                                    <mat-label>Stock</mat-label>
                                    <input matInput formControlName="stock" (input)="editarCampo('stock')">
                                    <mat-error *ngIf="formArticulo?.get('stock')?.errors?.['required']">El stock es
                                        obligatorio</mat-error>
                                    <mat-error *ngIf="formArticulo?.get('stock')?.errors?.['pattern']">El campo debe
                                        ser numérico.</mat-error>
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="fila">

                            <fieldset class="container-agrupaciones">
                                <legend>Agrupaciones</legend>

                                <div class="container-selector">
                                    <mat-form-field class="campo-proveedor">
                                        <mat-label>Proveedor</mat-label>
                                        <mat-select formControlName="idProveedor"
                                            (selectionChange)="editarCampo('idProveedor')">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [formControl]="formFiltrosDesplegables.get('proveedor')! | formControl"></ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container
                                                *ngFor="let proveedor of listasFiltradasDesplegables.proveedor">
                                                <mat-option [value]="proveedor.codigo">{{proveedor.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-spinner [diameter]="35" *ngIf="!listasDesplegables.proveedor"></mat-spinner>
                                </div>

                                <div class="container-selector">
                                    <mat-form-field class="campo-familia">
                                        <mat-label>Familia</mat-label>
                                        <mat-select formControlName="idFamilia"
                                            (selectionChange)="editarCampo('idFamilia')">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [formControl]="formFiltrosDesplegables.get('familia')! | formControl"></ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container *ngFor="let familia of listasFiltradasDesplegables.familia">
                                                <mat-option [value]="familia.codigo">{{familia.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-spinner [diameter]="35" *ngIf="!listasDesplegables.familia"></mat-spinner>
                                </div>

                                <div class="container-selector">
                                    <mat-form-field class="campo-subfamilia">
                                        <mat-label>Subfamilia</mat-label>
                                        <mat-select formControlName="idSubfamilia"
                                            (selectionChange)="editarCampo('idSubfamilia')">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [formControl]="formFiltrosDesplegables.get('subfamilia')! | formControl"></ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container
                                                *ngFor="let subfamilia of listasFiltradasDesplegables.subfamilia">
                                                <mat-option
                                                    [value]="subfamilia.codigo">{{subfamilia.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-spinner [diameter]="35" *ngIf="!listasDesplegables.subfamilia"></mat-spinner>
                                </div>

                                <div class="container-selector">
                                    <mat-form-field class="campo-marca">
                                        <mat-label>Marca</mat-label>
                                        <mat-select formControlName="idMarca"
                                            (selectionChange)="editarCampo('idMarca')">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [formControl]="formFiltrosDesplegables.get('marca')! | formControl"></ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container *ngFor="let marca of listasFiltradasDesplegables.marca">
                                                <mat-option [value]="marca.codigo">{{marca.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-spinner [diameter]="35" *ngIf="!listasDesplegables.marca"></mat-spinner>
                                </div>

                            </fieldset>

                        </div>

                        <div class="fila">

                            <fieldset class="fieldset-tarifas">
                                <legend>Tarifas</legend>

                                <div
                                    [matTooltip]="'El precio coste se calcula automáticamente a partir de las entradas registradas'">
                                    <mat-form-field class="campo-precio-coste">
                                        <mat-label>Precio coste</mat-label>
                                        <input matInput formControlName="precio_coste">
                                        <span matSuffix>€</span>
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="campo-precio-venta">
                                    <mat-label>Precio venta</mat-label>
                                    <input matInput formControlName="precio_venta">
                                    <span matSuffix>€</span>
                                </mat-form-field>

                                <mat-form-field class="campo-margen">
                                    <mat-label>Margen</mat-label>
                                    <input matInput formControlName="margen">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                            </fieldset>

                        </div>

                        <div class="fila">

                            <fieldset>
                                <legend>Comisiones</legend>

                                <mat-form-field>
                                    <mat-label>Comisión por defecto</mat-label>
                                    <input matInput formControlName="comision_default">
                                    <span matSuffix>%</span>
                                </mat-form-field>

                            </fieldset>

                        </div>

                    </div>

                    <div class="container-der">
                        <fieldset class="container-ean">
                            <legend>Códigos de barras</legend>

                            <mat-form-field>
                                <mat-label>1 - EAN 13</mat-label>
                                <input matInput formControlName="ean13_1" (input)="editarCampo('ean13_1')">
                                <mat-error *ngIf="formArticulo?.get('ean13_1')?.errors?.['pattern']">El campo debe ser
                                    numérico.</mat-error>
                            </mat-form-field>

                            <ng-container>
                                <mat-form-field>
                                    <mat-label>2 - EAN 13</mat-label>
                                    <input matInput formControlName="ean13_2" (input)="editarCampo('ean13_2')">
                                    <mat-error *ngIf="formArticulo?.get('ean13_2')?.errors?.['pattern']">El campo debe
                                        ser numérico.</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <ng-container>
                                <mat-form-field>
                                    <mat-label>3 - EAN 13</mat-label>
                                    <input matInput formControlName="ean13_3" (input)="editarCampo('ean13_3')">
                                    <mat-error *ngIf="formArticulo?.get('ean13_3')?.errors?.['pattern']">El campo debe
                                        ser numérico.</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <ng-container>
                                <mat-form-field>
                                    <mat-label>4 - EAN 13</mat-label>
                                    <input matInput formControlName="ean13_4" (input)="editarCampo('ean13_4')">
                                    <mat-error *ngIf="formArticulo?.get('ean13_4')?.errors?.['pattern']">El campo debe
                                        ser numérico.</mat-error>
                                </mat-form-field>
                            </ng-container>

                            <ng-container>
                                <mat-form-field>
                                    <mat-label>5 - EAN 13</mat-label>
                                    <input matInput formControlName="ean13_5" (input)="editarCampo('ean13_5')">
                                    <mat-error *ngIf="formArticulo?.get('ean13_5')?.errors?.['pattern']">El campo debe
                                        ser numérico.</mat-error>
                                </mat-form-field>
                            </ng-container>

                        </fieldset>
                    </div>

                </form>

            </mat-tab>

            <mat-tab label="Tabla">

            </mat-tab>

            <mat-tab label="Historial">

            </mat-tab>

            <mat-tab label="Situación">

            </mat-tab>

            <mat-tab label="Proveedores">

            </mat-tab>

            <mat-tab label="Otros datos">

            </mat-tab>

            <mat-tab label="Equivalencias">

            </mat-tab>

            <mat-tab label="Documentos">

            </mat-tab>

        </mat-tab-group>
    </div>
</div>